body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.CommentList {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Rubik", sans-serif;
  color: #78909c;
  background: linear-gradient(
    135deg,
    rgba(179, 229, 252, 1) 0%,
    rgba(179, 229, 252, 1) 50%,
    rgba(240, 98, 146, 1) 50%,
    rgba(240, 98, 146, 1) 100%
  );
}
.JokeList-sidebar {
  background: #9575cd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  text-align: center;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1),
    inset 0 0 25px #7e57c2;
  z-index: 2;
}
.JokeList-sidebar img {
  width: 50%;
  border-radius: 50%;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
}
.JokeList-sidebar img:hover {
  animation-name: shake-slow;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}
.JokeList-title {
  font-size: 4rem;
  margin: 1rem;
  color: white;
  font-weight: 300;
  letter-spacing: 0.6rem;
}
.JokeList-jokes {
  height: 80%;
  background: white;
  align-self: center;
  width: 60%;
  overflow: scroll;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
}
.Joke {
  display: flex;
  border-bottom: 2px solid #eeeeee;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  padding: 1rem;
}
.Joke-buttons {
  display: flex;
  margin-right: 1rem;
  align-items: center;
  justify-content: center;
  width: 15%;
}
.JokeList-getmore {
  font-size: 1.5rem;
  width: 50%;
  border-radius: 2rem;
  padding: 1rem 2rem;
  color: white;
  font-weight: 700;
  margin: 2rem;
  border: none;
  word-spacing: 0.2rem;
  cursor: pointer;
  transition: 0.8s cubic-bezier(0.2, 1, 0.2, 1);
  outline: none;
  background: linear-gradient(
    135deg,
    rgba(179, 229, 252, 1) 0%,
    rgba(179, 229, 252, 1) 50%,
    rgba(240, 98, 146, 1) 50%,
    rgba(240, 98, 146, 1) 100%
  );
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
}

.JokeList-getmore:hover {
  transform: translateY(-2px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
}
